<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>

    <add key="WordMod"       value="C:\inetpub\wwwroot\HzWEBManutencao\Documentos\Templates\"/>
    <add key="WordDoc"       value="C:\inetpub\wwwroot\HzWEBManutencao\Documentos\2015\carta\"/>
    <add key="RelPdf"        value="C:\inetpub\wwwroot\HzWEBManutencao\Relatorios\"/>
    <add key="RelManutencao" value="C:\inetpub\wwwroot\HzWEBManutencao_Desenv\Documentos\2015\relatorio manutencao\"/>

    <add key="Relatorios" value="http://grupoorionchaos/ReportServer_PROD"/>
    <add key="ArquivosRelatorios" value="C:\TeamSystem\Orion\Horizon\HzWebManutencao - Ambiente Produção\HzWebManutencao\HzWebManutencao\Relatorios"/>
    <add key="EndRelatorios" value="Relatorios"/>
    <!--<add key="ImagensQRCODE" value="http://localhost:44911/QRCODE/"/>-->
    <add key="ImagensQRCODE" value=" http://172.10.10.2/HzWEBManutencao_Desenv/"/>
   

    <!--<add key="WordMod" value="C:\inetpub\wwwroot\HzWEBManutencao_Desenv\Documentos\Templates\"/>
    <add key="WordDoc" value="C:\inetpub\wwwroot\HzWEBManutencao_Desenv\Documentos\2015\carta\"/>
    <add key="RelPdf" value="C:\inetpub\wwwroot\HzWEBManutencao_Desenv\Relatorios\"/>-->
    
    <!--<add key="WordMod" value="C:\Users\didemor.oliveira\Documents\Carta Orion\Modelos Word\"/>
    <add key="WordDoc" value="C:\Users\didemor.oliveira\Documents\Carta Orion\"/>
    <add key="RelPdf" value="C:\Users\didemor.oliveira\Documents\Visual Studio 2010\Projects\HzWebManutencao - Ambiente Produção\HzWebManutencao\HzWebManutencao\Relatorios\"/>-->
    
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <connectionStrings>
    <!-- Conexão GrupoOrion Produção-->
    <add name="Horizon" connectionString="Server=(localdb)\v11.0; Database=HzCorporativo;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <!--<add name="Horizon" connectionString="Server=172.10.10.2\prod; Database=HzCorporativo; User Id=sa; password= rona3007" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="Horizon" connectionString="Server=ESCRITORIO-PC\DESENV; Database=HzCorporativo; User Id=sa; password= rona3007" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Manto" connectionString="Server=www.manto.com.br; Database=MANTO; User Id=sa; password= 305606" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <!--<webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>-->
    <sessionState timeout="60"></sessionState>    
    <globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" fileEncoding="iso-8859-1" />    
    <httpHandlers>
        <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
       <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpModules>
       <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
       <!--<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
       <!--<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->      
    </httpModules>
    <!--***********************************FIM TAGS**********************-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    
    <customErrors defaultRedirect="frmErro.aspx" mode="Off">
  
    </customErrors>

  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.60501.0" newVersion="4.1.60501.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlSanitizationLibrary" publicKeyToken="d127efab8a9c114f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>